@charset "UTF-8";
.text-coral {
  color: #ff6666; }

.text-sea-green {
  color:   #5bc8ac; }

.text-night-bluel {
  color: #2c3e50; }

.text-slate {
  color: #626d71; }

.text-bounty {
  color: #4bbcf4; }
